* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    Inter,
    system-ui,
    Arial,
    sans-serif;

  background: #f7f7f7;
  color: #222;
}

button,
input,
select {
  font: inherit;
}